@media (min-width: 360px) and (max-width: 768px) {

    .right-side{
        display: none;
    }

    .home-left-button button {
        width: 100%;
    }


    .main-right-section button {
        display: none;
    }

    .main-right-section img {
        display: block;
        
    }

    .bottom-section {
        flex-wrap: wrap;
    }

    .home{
        flex-direction: column-reverse;
    }

    .sales-section-right {
        justify-content: center;
        /* margin: auto; */
    }

}

@media (max-width: 359px) {

}
